{% extends 'layout.html' %}


{% block body %}

<div class="px-4 py-10 my-10 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis">CHIMEX</h1>
    <h1 class="display-4 fw-bold text-body-emphasis">STORE</h1>
    <div class="col-lg-5 mx-auto">
      <p class="lead mb-4">WELCOME TO STORE</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>
  <!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Frame 1</title>
    <link rel="stylesheet" href="frame_1.css" />
  </head>
  <body>
    <div class="frame-1">
      <div class="rectangle-1">
      </div>
    </div>
  </body>
</html>

{% endblock %}