{% extends 'layout.html' %}


{% block body %}

<style>
  body {
    background-color: #fafafa;
  }
</style>

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis">T-shirt</h1>
    <div class="col-lg-5 mx-auto">
      <p class="lead mb-4">WELCOME TO STORE</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      </div>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">T-shirt1</strong>
          <h3 class="mb-0">Standar</h3>
          <p class="card-text mb-auto"></p>
          <p class="mb-auto text-center">149.00 DH</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            view product  >>
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <svg class="bd-placeholder-img" width="300" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success-emphasis">T-shirt2</strong>
          <h3 class="mb-0">Over Size</h3>
          <p class="mb-auto"></p>
          <p class="mb-auto text-center">1499.00 DH</p>
          <a href="#" class="icon-link gap-1 icon-link-hover stretched-link">
            view product >>
            <svg class="bi"><use xlink:href="#chevron-right"/></svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
            <svg class="bd-placeholder-img" width="300" height="350" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          </div>
        </div>
      </div>
    </div>

{% endblock %}